---
import remarkParse from "remark-parse";
import { unified } from "unified";
import { fetchPost } from "../esa-utils/fetch";
import { parseFaqs } from "../esa-utils/faq-parser";
import Layout from "../layouts/Layout.astro";
import Toc from "../components/Toc.astro";
import { getUniqueHashes } from "../esa-utils/hash";
import StyledHtml from "../components/StyledHtml.astro";
import * as env from "../env";

const faqPost = await fetchPost(env.esa.faqNumber);
const faqNodes = unified().use(remarkParse).parse(faqPost.body_md);
const faqs = await parseFaqs(faqNodes);
console.dir(faqs);

const ids = getUniqueHashes(faqs.map((faq) => faq.question));
---

<Layout pageTitle="よくある質問">
  <h1 class="title">よくある質問</h1>
  <Toc showNumbers={true} />
  <article class="faq-article">
    {
      faqs.map((faq, i) => (
        <div class="faq-item">
          <h2 class="question" id={ids[i]}>
            {faq.question}
          </h2>
          <StyledHtml html={faq.answerHtml} />
        </div>
      ))
    }
  </article>
</Layout>

<style>
  .title {
    font-size: 2rem;
    padding-inline: 16px;
    border-inline-start: 11px solid var(--theme-color-accent);
    border-block-end: 1px solid var(--border-color);
  }
  .faq-article {
    counter-reset: number 0;
  }
  .faq-item {
    padding-inline: 16px;
    padding-block-end: 16px;
    margin-block: 2rem;
    background: var(--bg-color);
    border: solid 3px var(--theme-color);
    border-radius: 8px;
  }
  .question {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .question::before {
    counter-increment: number 1;
    content: "Q" counter(number) ".";
  }
  @media screen and (max-width: 768px) {
    .faq-item {
      width: 100%;
    }
  }
</style>
