---
import { fetchPosts } from "../esa-utils/fetch";
import Layout from "../layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import { getFirstImg } from "../esa-utils/thumbnail";
import { fetchPost } from "../esa-utils/fetch";
import Card from "../components/Card.astro";
import * as env from "../env";

const response = await fetchPosts();
const posts = response.posts;
const faqPost = await fetchPost(env.esa.faqNumber);
const faqFirstImg = await getFirstImg(faqPost);
const faqImg = faqFirstImg;
// const blogPosts = posts.filter((post) => post.number !== faqPost.number);
const blogPosts = posts.filter(
  (post) => post.number !== faqPost.number && !post.wip,
);
---

<Layout>
  <div class="card-container">
    <h2 class="heading">記事一覧</h2>
    {blogPosts.map((post) => <ArticleCard post={post} />)}
    <h2 class="heading">これってどうなの？</h2>
    <Card href="/faq" title="よくある質問" imgSrc={faqImg?.src} />
  </div>
</Layout>

<style>
  .heading {
    font-size: 1.5rem;
    padding-inline: 11px;
    padding-block: 0.1rem;
    border-inline-start: 7px solid var(--theme-color-accent);
    border-block-end: 1px solid var(--border-color);
  }
  .card-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 0.5rem;
  }
</style>
