---
import { Image } from "astro:assets";
import ZDK_logo from "../assets/zdk_logo_full.svg";
import ZDK_logo_dark from "../assets/zdk_logo_full_for_darkmode.svg";
---

<footer class="footer">
  <div class="link-list">
    <a class="link" href="/faq">よくある質問</a>
    <a class="link" href="/">トップへ</a>
    <a
      class="link"
      href="https://docs.google.com/forms/d/e/1FAIpQLScMl1h9bvtSidOUeC8oT6EfdhtYebwQT7lpyFzqspbBjFucoA/viewform"
      target="_blank">お問い合わせ</a
    >
  </div>
  <div class="footer__logo-container">
    <a
      href="https://www.zdk.tsukuba.ac.jp/"
      target="_blank"
      class="footer__logo-link"
    >
      <picture>
        <source
          srcset={ZDK_logo_dark.src}
          width={ZDK_logo_dark.width}
          height={ZDK_logo_dark.height}
          media="(prefers-color-scheme: dark)"
        />
        <Image
          class="footer__logo"
          src={ZDK_logo}
          alt="全学学類・専門学群・総合学域群代表者会議"
        />
      </picture>
    </a>
  </div>
</footer>

<style>
  .footer {
    margin-block-start: 2rem;
    border-block-start: 1px solid var(--border-color);
  }
  .link-list {
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    border-block-end: 1px solid var(--border-color);
  }
  .link {
    line-height: 3.5rem;
    color: var(--link-color);
    text-decoration: none;
  }
  .link:hover {
    color: var(--text-color);
    text-decoration: underline;
  }
  .footer__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
  }
  .footer__logo-link {
    display: inline-block;
    max-width: 200px;
    width: 50%;
  }
  .footer__logo-link img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
