---

---

<section class="about-section">
  <h2 class="heading">新入生情報Webとは</h2>
  <p>本サイトは、筑波大学に入学する新入生向けの情報ポータルサイトです。</p>
  <p>
    新入生の皆さんがスムーズに大学生活をスタートできるよう、様々なお役立ち情報を発信しております。
  </p>
  <p>
    筑波大学の公的な学生代表組織「<a
      href="https://www.zdk.tsukuba.ac.jp/"
      target="_blank">全学学類・専門学群・総合学域群代表者会議（全代会）</a
    >」の新入生歓迎特別委員会および情報処理推進特別委員会によって運営されています。
  </p>
</section>

<style>
  .heading {
    font-size: 1.5rem;
    padding-inline: 11px;
    padding-block: 0.1rem;
    border-inline-start: 7px solid var(--theme-color-accent);
    border-block-end: 1px solid var(--border-color);
  }
</style>
